.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

div{
	width: 100%;
}

svg, div {
	display: block;
	margin: auto;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
