<div class="page-header">
    <h1>Overview of major countries regarding the number of refugees</h1>
    <div>
        <div class="panel panel-default" style="margin-left:30px; display:inline-block;width:auto">
            <div class="panel-heading">
                <h3 class="panel-title">Destination countries</h3>
            </div>
            <div class="panel-body">
                <div style="display:inline-block;">
                    <div id="verbarImmigrants" ng-show="showBarImmigrants"></div>
                    <div id="horbarImmigrants" ng-hide="showBarImmigrants"></div>
                    <button class="btn btn-primary" ng-click="immigrantsButton()" style="width:200px;">{{immigrantsButtonText}}</button>
                </div>
                <div class="panel-body" style="margin-left:30px; display:inline-block;width:auto">
                    <div id="europe"></div>
                    <div style="text-align: center;">Number of refugees
                        <div>
                            <div class="mapLegend"></div>
                            <div style="width:100%;font-size: 11px;">
                                <div style="float: left; display: inline-block;">Low</div>
                                <div style="float: right; display: inline-block;">High</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="panel panel-default" style="margin-left:30px; display:inline-block;width:auto">
            <div class="panel-heading">
                <h3 class="panel-title">Origin countries</h3>
            </div>
            <div class="panel-body">
                <div style="display:inline-block;">
                    <div id="verbarEmigrants" ng-show="showTop5Emigrants"></div>
                    <div id="verbarContinents" ng-show="showContinents"></div>
                    <div id="horbarEmigrants" ng-show="showSpecificContinent"></div>
                    <div>
                        <button class="btn  btn-primary" ng-click="emigrantsButton()" style="display:inline-block;width:200px;">{{emigrantsButtonText}}</button>
                        <select ng-model="selectedContinent" class="form-control pull-right" placeholder="select a country" style="width:250px;display:inline-block;" ng-show="!showTop5Emigrants">
                            <option value="" selected disabled>Please select a continent</option>
                            <option ng-repeat="continent in continents" value="{{continent.continentCode}}">{{continent.country}}</option>
                        </select>
                    </div>
                </div>
                <div class="panel-body" style="margin-left:30px; display:inline-block;width:auto">
                    <div id="world-equirectangular"></div>
                    <div style="text-align: center;">Number of refugees
                        <div>
                            <div class="mapLegend"></div>
                            <div style="width:100%;font-size: 11px;">
                                <div style="float: left; display: inline-block;">Low</div>
                                <div style="float: right; display: inline-block;">High</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
