<div class="page-header">
    <h1>Overview of major countries regarding the number of refugees</h1>
    <div>
        <div class="panel panel-default" style="margin-left:30px; display:inline-block;width:auto">
            <div class="panel-heading">
                <h3 class="panel-title">Destination countries</h3>
            </div>
            <div class="panel-body">
                <div id="barImmigrants"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="panel panel-default" style="margin-left:30px; display:inline-block;width:auto">
            <div class="panel-heading">
                <h3 class="panel-title">Origin countries</h3>
            </div>
            <div class="panel-body">
                <div id="barEmigrants"></div>
            </div>
        </div>
    </div>
</div>
