<div class="page-header">
    <h1>Correlation between number of refugees and the destination country's GDP</h1>
    <div style="margin-left:50px;">
        <div  style="width:200px; display: inline-block;">
            <table id="countryTable" class="table table-condensed table-bordered">
                <tbody>
                    <tr ng-repeat="country in list">
                        <td>
                            <div class="checkbox checkboxInTable">
                                <label style="width:100%">
                                    <input type="checkbox" ng-model="country.value" ng-init="country.value=true" ng-change="myClick(country.iso2)">
                                    <div style="width:36px;display: inline-block;text-align:center;margin-right:5px;"><img class="flag" ng-src="images/flags-normal/{{country.iso2}}.png" style="height:18px;"></div>{{country.country}}</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="immigrants_top5" style="display: inline-block;"></div>
    </div>
</div>
