<div class="container">
    <div class="jumbotron">
        <h1>Refugees Statistics</h1>
        <p>The number of refugees, particular in Europe, has grown considerably over the last decades as war, persecution and poverty continues to drive people from their homes - and the numbers are still rising.
        This website shows facts and figures about refugees in Europe.</p>
    </div>
    <div class="row subpage">
        <div class="col-lg-6">
        <img class="img-circle" src="images/countries_icon.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Major Countries</h2>
            <p class="description">This page shows the major countries regarding the total number of refugees for the year 2015. You can explore both data for the <strong>origin countries</strong> and for the <strong>destination countries</strong> as well. To compare the countries take a look at the bar chart or see the location of the countries on the map.</p>
            <p><a class="btn btn-default" href="#/countries" role="button">View visualization &raquo;</a></p>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <img class="img-circle" src="images/time_icon.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Timeline</h2>
            <p class="description">This page shows the changing number of refugees during time from 2008 to 2015. You can look at the <strong>yearly view</strong> to see the upward trend and take a deeper look - the <strong>detailed view</strong> - to look into the monthly fluctuations. To compare the months of different years take a look at the <strong>monthly view</strong>. For all views you can choose your own interval to explore!</p>
            <p><a class="btn btn-default" href="#/timeline" role="button">View visualization &raquo;</a></p>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <div class="row subpage" style="margin-top:20px;">
        <div class="col-lg-6">
            <img class="img-circle" src="images/gdp_icon.png" alt="Generic placeholder image" width="140" height="140">
            <h2>GDP</h2>
            <p class="description">This page shows the influence of the destination country's GDP for its number of refugees. Use the list to <strong>select</strong> the <strong>countries</strong> you want to explore. Moreover you can select a year or even start a simulation to see the changes over <strong>time</strong>. To get a better view you can also <strong>hide</strong> the <strong>outlier</strong> countries. To get the <strong>concrete numbers</strong> for a specific country just hover the dot.</p>
            <p><a class="btn btn-default" href="#/gdp" role="button">View visualization &raquo;</a></p>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <img class="img-circle" src="images/distance_icon.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Distance</h2>
            <p class="description">On this page we show if refugees prefer closer destination countries. You can <strong>filter</strong> and <strong>select</strong> the origin countries you want to explore. The visualisations show the correlation for the <strong>set of countries</strong> you have selected and you can even take a look at the correlation for a <strong>specific country</strong> by hovering it. To get the <strong>concrete numbers</strong> for a specific pair of countries you can click on the dot.</p>
            <p><a class="btn btn-default" href="#/distance" role="button">View visualization &raquo;</a></p>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Data Sources <span class="text-muted">(Last update: 2015-11-07)</span></h2>
            <p class="lead">The following table shows the data sources used for the visualizations.</p>
        </div>
    </div>
    <table class="table" ng-controller="dataSrcCtrl">
        <col width="15%">
            <col width="85%">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dataSource in dataSources">
                        <td>{{dataSource.attribute}}</td>
                        <td><a target="_blank" ng-href="{{dataSource.link}}">{{dataSource.linkName}}</a></td>
                    </tr>
                </tbody>
    </table>
</div>
