<div class="page-header">
    <h1>Overview of changing number of refugees during time</h1>
    <div ng-controller="sliderCtrl" style="width:500px;margin-left:100px;">
        <br>
        <br>
        <h3>Time range</h3>
        <input ng-model="rangeValue" type="text" id="range" slider options="options" />
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><h3>Timeline</h3>
        <input ng-model="timelineValue" type="text" id="timeline" slider options="options" ng-disabled="disabled" />
        <br>
        <br>
        <button type="button" class="btn btn-primary" ng-click="simulate()" ng-disabled="disabled">Start simulation</button>
    </div>
</div>
