.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

path.land {
  stroke: steelblue;
  stroke-width: 1;
  fill: #ededed;
}

path.land:hover,
path.land-selected {
  fill: #f39c12 !important;
  stroke: #443300;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.hidden { 
  display: none; 
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: .5em;
    background: #000;
    border: 0px;
    border-radius: 6px;
    font-size: 11px;
    color: white;
    opacity: 0.9; 
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
