body {
    padding-top: 50px;
}

div {
    vertical-align: top;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.page-header h1 {
    font-size: 26px;
    text-align: center;
}


/*
.navbar-collapse.collapse.in .nav.navbar-nav {
    float: left !important;
}
*/

.navbar-default .navbar-brand.no-link:hover,
.navbar-default .navbar-brand.no-link:focus {
    color: #FFF;
}

.no-link {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.navbar-brand > img {
    display: inline-block;
    height: 41px;
    margin-right: 10px;
    margin-top: -10px;
}


/* Make font size of slider scale bigger */

.jslider div.jslider-scale ins {
    margin-left: -18px;
    font-size: 11px !important;
}


/* Hide the label of the values */

.jslider div.jslider-value span {
    visibility: hidden;
        
}

.jslider div.jslider-value{
    background: rgba(255, 255, 255, 0) !important;
}

/* Hide the label of the slider */

.jslider-label span {
    visibility: hidden;
}


/* Make the slider pointer bigger 
.jslider.sliderCSS div.jslider-pointer {
    top: -6px !important;
    width: 15px !important;
    height: 15px !important;
    margin-left: -7.5px !important;
}
*/

#countryTable {
    
}

.checkboxInTable {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}



.jslider.disabled {
    opacity: 1.0 !important;
}

.flag {
    border: 1px solid #C0C0C0;
}

#countryTable tbody {
    display: block;
    height: 415px;
    width: 186px;
    font-size: 13px;
    overflow: auto;
}

.jslider {
    display: inline-block;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#rangeSlider{
    margin: 30px ;
    margin-top: 0px ;
    width: auto ;
}

#monthScaleText > g > line{
    stroke: transparent;
    stroke-width: 0;
}