/* Scatterplot style */
.name {
    float:right;
    color:#27aae1;
}
.axis {
    fill: none;
    stroke: #AAA;
    stroke-width: 1px;
}
text {
    stroke: none;
    fill: #666666;
    font-size: .6em;
    font-family:"Helvetica Neue"
}
.label {
    fill: #414241;
}
.dot {
    opacity: .7;
}

circle.dot:hover{
	fill: #128f76 !important;
}

div.tooltip {   
  position: absolute;           
  text-align: center;                          
  padding: 2px;             
  font: 12px sans-serif;        
  background:  #18bc9c;   
  border: 0px;      
  border-radius: 4px;           
  pointer-events: none;         
}