/* Scatterplot style */

.name {
    float: right;
    color: #27aae1;
}

.axis {
    fill: none;
    stroke: #AAA;
    stroke-width: 1px;
}

text {
    stroke: none;
    fill: black;
    font-size: 11px;
}

.label {
    fill: #414241;
}

circle.dot:hover {
    fill: #2C3E50 !important;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: #18bc9c;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}

path {
    stroke: #2C3E50;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

svg {
    border: 1px solid #999999;
}

.helpLine:hover {
    opacity: 0.1 !important;
}

.tooltip {
    font-weight: bold;
    background: white;
    border: 0px;
    border-radius: 4px;
}

.y.label{
    font-size: 11px;
    font-weight: normal;
}