/* Scatterplot style */

.name {
    float: right;
    color: #27aae1;
}

.axis {
    fill: none;
    stroke: #AAA;
    stroke-width: 1px;
}

text {
    stroke: none;
    fill: black;
    font-size: 11px;
}

.label {
    fill: #414241;
}

circle.dot:hover {
    fill: #2C3E50 !important;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    background: #2C3E50;
    border: 0px;
    border-radius: 6px;
    font-size: 11px;
    color: white;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    pointer-events: none;
}

path {
    stroke: #2C3E50;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/* replace by panels 
svg {
    border: 1px solid #999999;
}
*/
.helpLine:hover {
    opacity: 0.1 !important;
}

.tooltip {
    font-weight: bold;
    background: white;
    border: 0px;
    border-radius: 4px;
}

.y.label {
    font-size: 11px;
    font-weight: normal;
}

.listLegend {
    background: linear-gradient(to right, #ffffff, #217dbb);
    height: 20px;
    border: 1px solid grey;
}

.verticalBarAxis line, .verticalBarAxis path{
    fill:none;
    stroke:white;
    shape-rendering:crispEdges;
}

.verticalBar:hover{
    fill:#18BC9C;
}